@font-face {
  font-family: 'RobotoBold';
  src: url('Roboto/RobotoBold.eot');
  src: url('Roboto/RobotoBold.eot') format('embedded-opentype'),
  url('Roboto/RobotoBold.woff2') format('woff2'),
  url('Roboto/RobotoBold.woff') format('woff'),
  url('Roboto/RobotoBold.ttf') format('truetype'),
  url('Roboto/RobotoBold.svg#RobotoBold') format('svg');
}
